target/
!.mvn/wrapper/maven-wrapper.jar
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*
.env
.env.properties
.settings/
.project
.classpath
.factorypath
bin/
out/
.idea/
*.iml
*.iws
.vscode/
.DS_Store

src/main/resources/application.properties
