name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -B clean package -DskipTests --file pom.xml

  deploy:
    needs: build
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
    - name: Deploy to VPS
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.host }}
        username: ${{ secrets.username }}
        password: ${{ secrets.key }}
        timeout: 30m
        command_timeout: 30m
        script: |
          # Stop the old server (Ignore exit code 143/1)
          pkill -f news-insight || echo "Old process stopped or not found."
          
          # Go to project folder
          cd /var/www/html/NewsHub
          
          # Get latest code
          git pull origin main
          
          # Rebuild
          mvn clean package -DskipTests
          
          # Start new server using the JAR directly (More stable, less memory)
          source ~/.bashrc
          nohup java -jar target/*.jar > log.txt 2>&1 &
          sleep 5
          echo "Deployment finished successfully."